keras
matplotlib
numpy
pandas
requests
scipy
scikit-learn
#tensorflow
urllib3
spacy
nltk
langchain
langchain_openai
langchain_community
llama_index
llmsherpa
unifyai
sentence_transformers
torch
chromadb
