keras
matplotlib
numpy
pandas
requests
scipy
scikit-learn
#tensorflow
urllib3
spacy
nltk
langchain
langchain_openai
langchain_community
langchain-huggingface
llama_index
llama-index-vector-stores-postgres
llama-index-vector-stores-faiss
llmsherpa
unifyai
sentence_transformers

tf-keras

chromadb
faiss
